<ion-view  hide-nav-bar="false">
    <ion-nav-bar class="bar bar-transparent">
        <ion-nav-buttons>
            <button class="button button-icon ion-navicon assertive" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class='text-center light-bg details'> 
        <div class="subheader">
            <div class="logo">
                <center>
                    <img src="img/logo/logo.PNG" alt="Blood_app_logo" width="175px" height="90px" style=" margin-top: 10%;"/>
                </center>
            </div>
            <div id="details"  >
                <p class="font_18 color_w">Version 1.00.00</p> 
                <p class="font_18 color_w">© 2016 Orig IT Solutions Pvt Ltd.</p>
                <p class="font_18 color_w">All rights reserved.</p>  
            </div>
        </div>
    </ion-content>
</ion-view>