<ion-view>    
    <ion-content>
        <a href="#/login" class="padding_pass">
            <i class="icon button-icon ion-ios-arrow-back button-left assertive"></i>
        </a>
        <div class="card padding">
            <center>
                <h5 class="color_b3 font_18"> Forgot your password? This happens with most of us.</h5>
                <p class="font_14">Please enter your registered email Id and mobile no. We will send the password instruction to your email. </p>
            </center>
            <form name="forgotPassForm" novalidate="">
                <div class="list list-inset">     
                    
                    <label class="item item-input item-borderless">
                        <input type="email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" ng-model="forgotPassword.email" placeholder="Enter Email" disallowSpaces required>
                    </label>

                    <div class="LifeShare-error1" ng-show="forgotPassForm.email.$dirty && forgotPassForm.email.$invalid">
                        <span ng-show="forgotPassForm.email.$error.required">
                            <i class="ion-information-circled danger"></i>
                            Email is required.
                        </span>

                        <span ng-show="forgotPassForm.email.$error.pattern">
                            <i class="ion-information-circled danger"></i>
                           Please enter a valid email address.
                        </span> 
                    </div>
                    
                    <label class="item item-input ">
                        <input type="tel" name="ph_no" ng-pattern="/^[0-9]{1,15}$/" ng-model="forgotPassword.ph_no" ng-minlength="8" ng-maxlength="15" placeholder="Enter Mobile No " required autofocus>
                    </label>

                    <div class="LifeShare-error1" ng-show="forgotPassForm.ph_no.$dirty && forgotPassForm.ph_no.$invalid">
                        <span ng-show="forgotPassForm.ph_no.$error.required">
                            <i class="ion-information-circled danger"></i>
                            Mobile number required.
                        </span>                    
                        <span ng-show="forgotPassForm.ph_no.$error.maxlength">
                            <i class="ion-information-circled danger"></i>
                            Mobile number must not exceed 15 digits.
                            <br/>
                        </span>
                        <span ng-show="forgotPassForm.ph_no.$error.minlength">
                            <i class="ion-information-circled danger"></i>
                            Mobile number must be 8 digits.
                            <br/>
                        </span>
                         <span ng-show="forgotPassForm.ph_no.$error.pattern">
                            <i class="ion-information-circled danger"></i>
                           Only digits are allowed.
                            <br/>
                        </span>
                    </div><br/>
                    <button type="button" class="button button-block button-assertive"  ng-click="submit()"
                        ng-disabled="(
                            (forgotPassForm.email.$dirty && forgotPassForm.email.$invalid)||
                            (forgotPassForm.email.$pristine && forgotPassForm.email.$invalid)||
                            (forgotPassForm.ph_no.$dirty && forgotPassForm.ph_no.$invalid)||
                            (forgotPassForm.ph_no.$pristine && forgotPassForm.ph_no.$invalid)
                            )">
                             Submit
                    </button> 
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>